* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.typing {
  animation: typing 4s steps(27), cursor 0.4s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
